.container {
  margin-bottom: 70px;
}
.skills-wrap {
  background-color: #080a09;
}

.icon {
  width: 50px;
  height: 50px;
}

path {
  fill: #11b29f;
}

path:hover {
  fill: #14638e;
}

.icon-text {
  color: #fff;
  font-size: 20px;
}

.row {
  margin: 0 !important;
}
