.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  margin-bottom: 70px;
  gap: 7rem;
  padding: 5rem;
}
.skills-wrap {
  background-color: #080a09;
}

.icon {
  width: 50px;
}

path {
  fill: #11b29f;
}

path:hover {
  fill: #14638e;
}

.icon-text {
  color: #fff;
  font-size: 20px;
}

.icon-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
