@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.middle-part-container {
  background-color: #fff;
}

.title {
  color: #14638e;
  font-size: 4rem;
  text-align: center;
  padding: 5rem 0;
}

.card-img {
  width: 130px;
  height: 130px;
}

.color {
  color: #11b29f;
}
